


<div class="container">
    <div class="row">
        <div class="col-3 p-4">

            <h2>Top Story</h2>
            <hr>

            <div *ngFor="let data of topworldHeadline" class="card" style="width: 18rem; margin-bottom: 8px;">
                <img src="{{data.urlToImage}}" class="card-img-top" alt="...">
                
                <div class="card-body">
                  <p class="card-text">{{data.title}}</p>
                  <p>{{data.author}} | {{data.publishedAt}}</p>
                  <a href="{{data.url}}" class="btn btn-outline-secondary" 
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Read more</a>
                </div>
              </div>


        </div>
        <div class="col-6">
            <div class="herohead p-5">

                <img src="{{headlineimage}}" style="width:100%; display: inline-block;">
                <h2 class="pt-4">{{headlines}}</h2>
                <p>{{content}}</p>
                <a href="{{urlhead}}" class="btn btn-primary">Read More</a>
            </div>

            <div *ngFor="let data of topHeadlinesData" class="row g-0 bg-body-secondary position-relative"
                style="border-bottom:1px solid #c2c2c2 ;">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="{{data.urlToImage}}" class="w-100" style="width: 250px;" alt="{{data.author}}">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">{{data.title}}</h5>
                    <p>{{data.content}}</p>
                    <a href="{{data.url}}" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Read More</a>
                </div>
            </div>
        </div>
       
        <div class="col-3 p-5">
            <h2>Top Headlines</h2>
            <hr>

            <div *ngFor="let topdata of topIndianHeadlineData" class="card" style="width: 18rem;margin-bottom: 8px;">
                <div class="card-body">
                    <h5 class="card-title">{{topdata.title}}</h5>
                    <p class="card-text">{{topdata.content}}</p>
                    <a href="{{topdata.url}}" class="btn btn-outline-primary"   style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Read more</a>
                </div>
            </div>

        </div>
    </div>
</div>