<nav>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="icon text-center p-4">
          Bharat<img src="https://cdn-icons-png.flaticon.com/512/317/317569.png" style="width:30px;">Varsh
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="nav">
  <div class="container-fluid">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Bharat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"routerLink="world">World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tech">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="politics">Politics</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container-fluid date">
  <div class="row">
      <div class="col-3">
          {{today | date:'fullDate'}}
      </div>
      <div class="col-6" style="border-left: 1px solid #b7b7b7; border-right: 1px solid #b7b7b7 ;">

      </div>
      <div class="col-3 text-right">
          {{today | date:'fullTime'}}
      </div>
  </div>
</div>
<router-outlet></router-outlet>
